Flask==3.0.0
Flask-SQLAlchemy==3.1.1
python-dotenv==1.0.0
routeros-api==0.21.0
flask_login==0.6.3
customtkinter
APScheduler==3.10.4
psutil==6.0.0
waitress==2.1.2

# Additional dependencies that did not install correctly
flask
flask_sqlalchemy 
flask_login
dotenv
apscheduler
psutil